/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme-dark {
  --bg-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --font-heading: "IBM Plex Mono", sans-serif;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --accent-color2: #F1B2CE;
  --accent-color3: #FF0070;
}