/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url('../images/cover-image-light.png');
  --bg-color: #FFF1F7;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --accent-color2: #353430;
  --button-hover-color: #32312D66;
}

@media (prefers-color-scheme: light) {
  :root.theme-auto {
    --bg-image: url('../images/cover-image-light.png');
    --bg-color: #FFF1F7;
    --title-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --accent-color2: #353430;
    --button-hover-color: #32312D66;
  }
  .theme-auto .decorative-rec {
    color: transparent;
  }
  
  .theme-auto .decorative-rec::before {
    display: none;
  }
  
  .theme-auto .header__theme-menu {
    color: var(--accent-color2);
  }
  
  .theme-auto .header__theme-menu-button_active {
    outline: 1px solid var(--accent-color2);
  }
  
  .theme-auto .header__theme-menu-button:hover {
    outline: 1px solid var(--button-hover-color);
  }
  
  .theme-auto .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--accent-color2);
  }

  .theme-auto .decorative-rec::after {
    border-top: 1px solid var(--accent-color2);
    border-right: 1px solid var(--accent-color2);
  }
  
  .theme-auto .main__title {
    color: var(--accent-color2)
  }
  
  .theme-auto .pictures__title {
    color: var(--accent-color2);
  }

  .theme-auto .title-decor {
    color: var(--accent-color2);
  }

  .theme-auto .decorated-zone::before {
    border-top: 1px solid var(--accent-color2);
    border-right: 1px solid var(--accent-color2);
  }
  
  .theme-auto .decorated-zone::after {
    border-left: 1px solid var(--accent-color2);
    border-bottom: 1px solid var(--accent-color2);
  }
}

.theme-light .title-decor {
  color: var(--accent-color2);
}


.theme-light .decorative-rec {
  color: transparent;
}

.theme-light .decorative-rec::before {
  display: none;
}

.theme-light .header__theme-menu {
  color: var(--accent-color2);
}

.theme-light .header__theme-menu-button_active {
  outline: 1px solid var(--accent-color2);
}

.theme-light .header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-color);
}

.theme-light .decorative-rec::after {
  border-top: 1px solid var(--accent-color2);
  border-right: 1px solid var(--accent-color2);
}

.theme-light .main__title {
  color: var(--accent-color2)
}

.theme-light .pictures__title {
  color: var(--accent-color2);
}

.theme-light .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color2);
}

.theme-light .decorated-zone::before {
  border-top: 1px solid var(--accent-color2);
  border-right: 1px solid var(--accent-color2);
}

.theme-light .decorated-zone::after {
  border-left: 1px solid var(--accent-color2);
  border-bottom: 1px solid var(--accent-color2);
}