/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-attachment: fixed;
  font-family: "IBM Plex mono", sans-serif;
  background-size: cover;
}

.header {
  min-height: 668px;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
}


.decorative-rec {
  grid-row: 1/2;
  justify-self: end;
  font-size: var(--main-font-size);
  color: var(--accent-color);
  line-height: 25px;
  position: absolute;
  display: inline-block;
  margin-top: 10px;
  margin-right: 38px;
}

.decorative-rec::before {
  content: "";
  position: absolute;
  top: 8px;
  right: -20px;
  width: 10px;
  height: 10px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  top: 10px;
  right: 10px;
}

.decorated-zone::after {
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  bottom: 10px;
  left: 10px;
}



.header__theme-menu {
  margin-top: 17px;
  justify-self: end;
  align-self: center;
  color: var(--accent-color);
  margin-right: 10px;
  font-size: var(--main-font-size);
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  margin-bottom: 10px;
  padding: 1.5px 13px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button:not(:last-child) {
  margin-bottom: 0;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  pointer-events: none
}

.header__title {
  /* margin-top: 55px; */
  margin-left: 13px;
  font-size: var(--title-size);
  line-height: 0.83em;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__paragraph {
  align-self: center;
  justify-self: end;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: var(--main-font-size);
  max-width: 355px;
  width: 100%;
}

.title-decor {
  background-color: var(--accent-color);
  color: #000028;
  font-weight: 700;
  line-height: 23.4px;
}

.main {
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 42px;
}

.main__title {
  color: var(--accent-color);
  font-size: var(--main-font-size);
  line-height: 23.4px;
  margin-top: 50px;
}

.article {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.article__title {
  margin-top: 20px;
  font-size: var(--main-font-size);
}

.article__text {
  color: var(--accent-color2);
  line-height: 23.4px;
  font-size: var(--main-font-size);
}

.article__text a {
  text-decoration: none;
  text-shadow: 2px 1px var(--accent-color);
}

.article__text a:hover {
  border-bottom: 1px solid currentColor;
}

.article__text a:focus-visible {
  outline: 1px solid var(--accent-color2);
}

.recommendations__title {
  font-size: var(--main-font-size);
  margin-top: 20px;
}

.pictures__title {
  margin-top: 49px;
  margin-bottom: 10px;
  font-size: var(--main-font-size);
}

.pictures__image {
  max-width: 100%;
}

.pictures__images {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer {
  min-height: 668px;
  height: 100vh;
  position: relative;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.footer__title {
  font-size: var(--title-size);
  text-shadow: 2px 2px var(--accent-color);
  color: var(--title-color);
  margin-top: 190px;
  margin-bottom: 222px;
}


.margin-top-reset {
  margin-top: 0;
}

.font-weight-regular {
  font-weight: 400;
}

@media (width >= 768px) {
  :root {
    --title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .main__title {
    margin-bottom: 10px;
  }

  .content__section {
    padding-left: 10px;
    padding-right: 10px;
  }

  .header {
    padding-right: 10px;
  }

  .decorative-rec {
    margin-top: 20px;
    margin-right: 48px;
  }

  .header__theme-menu {
    margin-top: 25px;
  }

  .header__title {
    /* margin-top: 161px; */
    margin-left: 0;
  }

  .header__paragraph {
    margin-bottom: 18px;
    max-width: 364px;
    width: 100%;
  }

  .main {
    padding-top: 30px;
    padding-bottom: 62px;
  }

  .reasons {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .reasons .main__title {
    grid-column: 1;
    padding-top: 30px;
    padding-right: 10px;
  }
  
  .reasons article {
    grid-column: 2;
    margin-left: 12px;
    margin-top: 10px;
  }

  .what-reduces {
    padding-top: 30px;
  }

  .what-reduces .main__title {
    width: min-content;
    margin-bottom: 0;
  }

  .how-good {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 59px;
  }
  
  .how-good .main__title {
    grid-column: 1;
    margin-top: 22px;
  }

  .recommendations__list {
    grid-column: 2;
    margin-left: 13px;
  }

  .pictures {
    padding-top: 30px;
  }

  .pictures__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .pictures__images {
    display: grid;
    grid-template-areas: 
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street"
    "tape street street";
    padding-top: 10px;
    gap: 21px;
  }
  .img-sunset {
    grid-area: sunset;
  }

  .img-ice-cream {
    grid-area: ice-cream;
  }

  .img-tape {
    grid-area: tape;
  }

  .img-books {
    grid-area: books;
  }

  .img-street {
    grid-area: street;
  }

  .footer {
    padding-top: 68px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer__title {
    margin-top: 332px;
    margin-bottom: 390px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
  
  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .reasons .margin-top-reset-768px {
    margin-top: 0;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    align-self: flex-start;
    margin-top: 18px;
    width: 100%;
  }

  .header__theme-menu-list {
    display: flex;
    justify-content: center;
    margin-left: 32px;
    gap: 11px;
  }
  .header__paragraph {
    margin-bottom: 20px;
    max-width: 491px;
    width: 100%;
  }

  .main {
    padding-top: 30px;
    padding-bottom: 58px;
  }

  .reasons article {
    margin-left: 7px;
  }

  .what-reduces {
    padding-top: 34px;
  }

  .what-reduces .main__title {
    max-width: 315px;
    width: 100%;
    margin-bottom: 0;
  }

  .what-reduces__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .recommendations__list {
    margin-left: 7px;
  }

  .pictures {
    padding-left: 8px;
    padding-top: 32px;
  }

  .footer__title {
    margin-top: 330px;
  }
  
  .article__title {
    margin-top: 19px;
  }

  .margin-top-3px-1024px {
    margin-top: 3px;
  }
}